{
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost,1433;Database=blogium;User Id=SA;Password=YOUR_DATABASE_PASSWORD;TrustServerCertificate=True;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.EntityFrameworkCore": "Information"
    }
  }
}
