:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--c-slate-100); // Use a light, clean background
}

.main-content {
  flex: 1;
  width: 100%;
  max-width: 1440px; // A reasonable max-width for content
  margin: 0 auto;
  padding: var(--space-8) var(--space-6); // Add vertical and horizontal padding
}
